@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Keeks</h1>
    
    <p>
        <a asp-controller="ToDo" asp-action="Index">Go to ToDo List</a>
        
    </p>
</div>